* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color : #152f49;
}
/* All Header CSS */
.header {
    padding-top: 30px;
    width: 100%;
    height: 100px;

    background-color: #152f49;

    display: flex;
    justify-content: space-between;
}

.header .appName {
    margin: 0 10px;
    color: #fff;
    text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff;
    line-height: 20px;
}

.header .buttonContainer {
    position: relative;
    display: flex;
    height: 50%;
    margin-right: 30px;
}

.header .buttonContainer button {
    margin: 0 10px;
    width: 100px;
    position: relative;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;

    background-color: #48c9b0;
    border-color: #48c9b0;

    border-radius: 5px;
    cursor: pointer;
}

.header .buttonContainer button:hover{
    transform: scale(1.3) translateY(-1px);
    border : 1px solid #eee;
}

/* All Maze Menu CSS */
.navigation{
    position : fixed;
    width : 60px;
    height : 100%;
    top : 100px;
    left : 0;
    background-color : #152f49;
    transition-delay: 0.1s;
    transition-duration : 0.5s;
}
.navigation:hover,.navigation.active{
    width : 400px;
}

.navigation ul{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
}

.navigation ul li{
    position : relative;
    width : 100%;
    list-style : none;
}

.navigation ul li div{
    position : relative;
    width : 100%;
    display: flex;
    text-decoration: none;
    color : #fff;
    overflow : hidden;
}

.navigation ul li div .icon{
    position: relative;
    display : block;
    min-width : 60px;
    height : 60px;
    line-height : 60px;
    font-size: 30px;
    text-align : center;
}

.navigation ul li div .title{
    position : relative;
    display : flex;
    flex-direction : column;
    padding : 40px 10px;
    line-height : 60px;
    text-align : start;
    white-space : nowrap;
}

.navigation ul li div .About{
    display: flex;
    flex-direction : column;
    word-wrap:normal;
}

.navigation ul li div .About .aboutHeading{
    padding: 10px 0;
    text-decoration: underline;
    text-align-last: center;
}
.navigation ul li div .About .aboutDescription {
    line-height: 20px;
    font-size: 20px;
    text-align: start;
    margin: 20px 10px;
    font-family: ui-rounded;
}

.navigation ul li div .About .aboutCreatorName {
    text-align: right;
    padding: 0 15px;
}

.navigation ul li div .About .aboutLinks
{   color: #fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
    justify-content: center;

}

.navigation ul li div .About .aboutLinks a{
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 30%;
    margin: 10px 0;
}
.aboutYoutube{
    color: #FF0000;
}

.aboutLinkedin{
    color: #0e76a8;
}
.aboutGithub{
    color: #000;
}
.aboutGmail{
    color : #fff;
    margin-top: 12px;
}


#start_row,#start_col,#end_row,#end_col{
    height: 20px;
    margin: 20px 4px;
    padding-left: 2px;
}

.toggle{
    font-size: 30px;
    position : fixed;
    top : 100px;
    right : 0;
    visibility: hidden;
    width : 70px;
    cursor : pointer;
    color : #fff;
    font-size : 30px;
    padding : 10px;
}
.toggle:hover{
    color: #00b3ff;
}

@media (max-width: 768px){
    .navigation{
        left : -60px;
    }
    .navigation.navigation.active{
        left : 0;
    }

    .toggle{
        visibility: visible;
        
    }
    .navigation ul li div .icon{
        display: none;
    }
}

/* The Main Grid */
.mazeContainer{
    user-select: none; /* I am using this to make the MouseUp and Mouse Down smooth as it tells the browser that the object can be selected  */

    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    top : 100px;
    left : 60px;
    z-index: -1;
    margin: 5px;
}